Cython>=0.29

# Google Earth Engine API
earthengine-api>=0.1.0

# Spatial statistics
esda>=2.4

# Geospatial libraries
geopandas>=0.10
ipykernel>=6.0

# Notebook support
jupyterlab>=3.0
libpysal>=4.4

# Visualization
matplotlib>=3.4
mgwr>=2.2


# Core scientific stack
numpy>=1.18
pandas>=1.3
rasterio>=1.2
rtree>=0.9
scikit-learn>=1.0
seaborn>=0.11
statsmodels>=0.13


